.nav-bar{
    background: linear-gradient(180deg, #2A947A 0%, rgba(12, 168, 209, 0.13) 99.99%, rgba(22, 115, 92, 0) 100%) !important;
}

.hero{
    background: linear-gradient(180deg, #2A947A 0%, rgba(12, 168, 209, 0.13) 99.99%, rgba(22, 115, 92, 0) 100%);
    min-height: 60vh;

}
.hero img{
    max-width: 400px;

}

.title{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    letter-spacing: 0.3rem;
    margin-bottom: 4rem;
}
.title span{
    border-bottom: 5px solid rgba(149, 35, 151, 0.81);
    padding: 0.5rem 2rem;
}
/* icons */

.icons{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.icons div{
    margin-bottom: 3rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.icons i {
    font-size: 5rem;
}
.fa-figma{
    background: linear-gradient(180deg, #F51212 0%, rgba(199, 26, 171, 0.72) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.projects{
    background: linear-gradient(180deg, #2a8b94 0%, rgba(12, 168, 209, 0.13) 99.99%, rgba(22, 115, 92, 0) 100%);
}

/* a>*:hover{
    transform: scale(1);
    

} */

.contact{
    background: linear-gradient(180deg, #1e70eb9a 0%, rgba(26, 140, 240, 0.397) 99.99%, rgba(31, 185, 90, 0.753) 100%);
}

/* .abc{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.xyz{
    color: gold;
    position: relative;
}

#go-up{
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 2rem;
    
}